{% if isWebsiteInMaintenance() %}
    <div class="rich-id-maintenance-flag">
        <div class="rich-id-maintenance-flag-title">{{ 'rich_id_maintenant.website_lock'|trans({}, 'maintenance') }}</div>
        <div class="rich-id-maintenance-flag-content">{{ 'rich_id_maintenant.website_lock_description'|trans({}, 'maintenance') }}</div>
    </div>
{% endif %}
