{% if isWebsiteInMaintenance() %}
    <style>
        :root {
            --rich-id-maintenance-alert-background-color: #ef4a4a;
            --rich-id-maintenance-alert-title-color: #FFFFFF;
            --rich-id-maintenance-alert-content-color: #FFFFFF;

            --rich-id-maintenance-alert-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.3);
            --rich-id-maintenance-alert-radius: 20px;

            --rich-id-maintenance-alert-position-top: initial;
            --rich-id-maintenance-alert-position-bottom: 40px;

            --rich-id-maintenance-alert-width: 130px;
            --rich-id-maintenance-alert-z-index: 1000000;

            --rich-id-maintenance-alert-font-family: Helvetica, rial, sans-serif;
        }

        .rich-id-maintenance-flag {
            background: var(--rich-id-maintenance-alert-background-color);
            border-bottom-right-radius: var(--rich-id-maintenance-alert-radius);
            border-top-right-radius: var(--rich-id-maintenance-alert-radius);
            bottom: var(--rich-id-maintenance-alert-position-bottom);
            box-shadow: var(--rich-id-maintenance-alert-shadow);
            left: 0;
            position: fixed;
            top: var(--rich-id-maintenance-alert-position-top);
            width: var(--rich-id-maintenance-alert-width);
            z-index: var(--rich-id-maintenance-alert-z-index);
        }

        .rich-id-maintenance-flag-title {
            color: var(--rich-id-maintenance-alert-title-color);
            font-family: var(--rich-id-maintenance-alert-font-family);
            font-weight: 600;
            padding: 5px;
            text-align: center;
            word-break: break-word;
        }

        .rich-id-maintenance-flag-content {
            color: var(--rich-id-maintenance-alert-content-color);
            font-family: var(--rich-id-maintenance-alert-font-family);
            padding: 5px;
            text-align: center;
            word-break: break-word;
        }

        @media print {
            .rich-id-maintenance-flag {
                display: none;
            }
        }
    </style>

    <div class="rich-id-maintenance-flag">
        <div class="rich-id-maintenance-flag-title">{{ 'rich_id_maintenant.website_lock'|trans({}, 'maintenance') }}</div>
        <div class="rich-id-maintenance-flag-content">{{ 'rich_id_maintenant.website_lock_description'|trans({}, 'maintenance') }}</div>
    </div>
{% endif %}
