{% if isLocked() %}
    <style>
        .lexik-maintenance-flag {
            background: #80bc00;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.3);
            left: 0;
            position: fixed;
            bottom: 20px;
            width: 120px;
            z-index: 1000000;
        }

        .lexik-maintenance-flag-title {
            font-weight: 500;
            color: white;
            text-align: center;
            padding: 5px;
        }

        .lexik-maintenance-flag-content {
            color: white;
            text-align: center;
            padding: 5px;
        }

        @media print {
            .lexik-maintenance-flag {
                display: none;
            }
        }
    </style>

    <div class="lexik-maintenance-flag">
        <div class="lexik-maintenance-flag-title">{{ 'rich_id_maintenant.website_lock'|trans }}</div>
        <div class="lexik-maintenance-flag-content">{{ 'rich_id_maintenant.website_lock_description'|trans }</div>
    </div>
{% endif %}
