{% include '@RichIdMaintenance/_styles.html.twig' %}
{% include '@RichIdMaintenance/flag/_partial/_styles.html.twig' %}

<div class="rich-id-maintenance-flag rich-id-maintenance">
    <div class="rich-id-maintenance-flag-title">{{ 'maintenance.website_lock'|trans({}, 'maintenance') }}</div>
    <div class="rich-id-maintenance-flag-content">{{ 'maintenance.website_lock_description'|trans({}, 'maintenance') }}</div>

    {% if hasAccessToMaintenanceAdministration() %}
        <div class="rich-id-maintenance-flag-link">
            <a href="{{ path('maintenance_admin') }}">{{ 'maintenance.website_lock_link'|trans({}, 'maintenance') }}</a>
        </div>
    {% endif %}
</div>
